awscli==1.32.53
boto3==1.34.26
flask-bootstrap4==4.0.2
Flask-HTTPAuth==4.8.0
Flask-Login==0.6.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.2
flask==2.3.2
gunicorn==20.1.0
gevent==22.10.2
itsdangerous==2.1.2
Jinja2==3.1.2
jsondiff==2.0.0
pandas==2.0.2
passlib==1.7.4
psycopg2==2.9.6
pyinstrument==4.3.0
pysurveycto==0.0.14
pytest==7.3.1
python-coveralls==2.9.3
python-dotenv==1.0.0
PyYAML==6.0
sentry-sdk[flask, sqlalchemy]==1.25.0
SQLAlchemy==1.4.41
werkzeug==2.3.4
wtforms[email]==3.0.0
wtforms-json==0.3.5






